
{% include 'base.html' %}

<html>
  <title> {{article.nom}}</title> 

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/css/style_vitrine.css">


</head>

<main>

<body>


<section class="container template border">
    <div class="row justify-content-between">
        
        <!-- APPARITION DU BOUTON VERS MES RECETTES DANS MEMBRE -->
            </div>   
    
    <!-- FAIRE APPARAITRE TOUTES LES DONNEES D'UNE RECETTE -->
        <h1 class="text-center text-warning"> {{article.nom}}  </h1>

            {%if article.theme is not none%}
            
            <span class="badge badge-secondary text-center"> {{article.theme.value}}  </span>
            <br>
            {%endif%}
            
            {%if article.categories is not none%}
            <span class="badge text-center"> {{article.categories.value}}  </span>
            {%endif%}

    <div class="row justify-content-center">
        
        <figure>
            <img src="/static/galerie/articles/{{article.nom}}.jpg" alt=""height="350" width="450" class="img-fluid rounded mx-auto d-block">
        
            <h5 class="text-center">Prix : {{article.prix}}  €</h5>

            {% if article.quantites is not none%}
            <h6 class="text-center">Quantités : {{article.quantites}} </h6>
            {%endif%}
        
        </figure>
    

    </div>
   
    </section>

</body>

</main>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

</html>

{% extends 'footer.html' %}