<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style_header.css">
    <link rel="stylesheet" href="/static/css/style_vitrine.css">


    {% block head %} {% endblock %}
</head>

<body>
  
 
  <header class="">



   
    <nav class="navbar   navbar-expand navbar-dark bg-dark col-lg-12 " >

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    

      <a class=" navbar-brand -sm" href="#">
      
        <img  rel="shortcut icon"  src="/static/galerie/favicon.ico" width="70" height="70" alt="" class="d-inline-block align-top">
        

      </a>

      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <div class="row   ">
   

        <div class="collapse navbar-collapse col-lg-12  " id="navbarsExample02">

          
          <ul class=" nav navbar-nav justify-content" >

                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
     
                
                <li class="nav-item"><a class="nav-link " href="/promotions/">Promotions</a></li>
                     
                <li class="nav-item">
                  <a class="nav-link" href="/articles"> Nos produits </a>
              </li>
                
                <li class="nav-item">

                  <a class="nav-link" href="/categories"> Par catégories </a>

                </li>
                       
                                       
                  <li class="nav-item">
                    
                    <a class="nav-link " href="/contact">Numéro : 09 52 55 20 68</a>
                    
                    <a class="nav-link " href="/contact">Snap : alimentation_ma</a>


                    <a class='nav-link' href="https://www.google.com/maps/dir/43.5191808,5.4263808/alimentation/@43.518953,5.4258043,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x12c98d0e6c1759db:0x1b04ee7b20038053!2m2!1d5.4366307!2d43.5257317"> Itinéraire Google Maps</a>
                 
                  </li>


                  <li class="nav-item">

                  <div class="row ">

                  <div class="media ">

                  <img class="img-fluid">
      
                    <a class="nav-link " href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>       
                      <img src="/static/galerie/uber_logo.png" width="55px" height="70px" class="img-fluid" alt="">
                    </a>
  
                    <a class="nav-link text-center" href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>       
                      <img src="/static/galerie/deliveroo_circle.png" width="55px" height="70px"  class="img-fluid" alt="">
                      </a>
  
                      <a class="nav-link " href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>
                        <img src="/static/galerie/just_eat.png" width="55px" height="70px"  class="img-fluid rounded mx-auto d-bloc" alt="">
                      </a>
  
    
               
                  </div>
                </div>



                   </li>




                
                   
           

             
                      </ul>

    
               
                    </div>

                  </div>


    </nav>
                 


  </header>

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/static/js/drop_multi.js"></script>


</body>

</html>