
{% include 'base.html' %}

<html>
  <title>Categories</title> 


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style_vitrine.css">


</head>

      


<main>
<body>
      
<div class="container-fluid entete enteteRecettes justify-content-center align-items-center">
  
  


  <h1 class="text-center text-light">Choissisez une catégorie.</h1>


 

  <p class="text-center text-light"> {{theme_name}}</p>

    <form class=" form-row my-1  justify-content-center"  method="POST">
      <select name="categorie" class="form-control  col-md-4" aria-placeholder="Nos catégories">



        
      
        {% for theme in themes %}
      
        {% if theme.value == theme_name %}

        <option selected = "{{theme_name}}"
        name="theme_name" > {{theme.value }}
        </option>

        {%else%}
        <option name="themes_names" > {{theme.value }}
        </option>
        {%endif%}

        {% endfor %}


       

      </select>
      <button name="research" type="submit" class="btn col-2 justify-self-end btn-danger">Rechercher</button>
      
     
    </form>

  </div>



{%if theme_name%}
<div class="container border template">

  
  <div class="row margin-top-20">
    {% for article in articles %}

    <div class="col-md-4">


     
        <div class="card  "  style="overflow: hidden" style="width: 20rem;">

          <div class="card-body mh-75 ">

            <h5 class="card-title" > </h5>

           <a href="/article/{{article.id}}"> 
           <p class="text-center"> {{article.nom}}   </p> 

          
          <img src="/static/galerie/articles/{{article.nom}}.jpg"  height="130px" widht="50px" class="card-img-top" alt="">   
        
          <p class="text-center"> {{article.prix}} € 
          
          {%if article.promotions is not none%}

            <span class="badge badge-primary text-center"> Promotions : {{article.promotions}} € </span>
          </p> 
          {%endif%}
          
          {% if article.content %}
          <p class="text-center"> {{article.content}}  </p> 
          {%endif%}

          {%if article.theme is not none%}

          <p class='text-center'>
            <span class="badge badge-secondary text-center"> {{article.theme.value}}  </span>
            {%if article.categories is not none%}
            <span class="badge text-center"> {{article.categories.value}}  </span>
           
            {%endif%}
          
          </p>
          {%endif%}
        
        </a>

        
            
            
          </div>

        </div>

    </div>  
    {%endfor%} 

     
    </div>

</div>


{%endif%}


<div>


</div>

    



  
 



</body>

</main>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

</html>

{% extends 'footer.html' %}
