<html>


    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/css/style.css">

    </head>

  <body>

    <footer class="" >        
         
        <nav class="navbar -md bottom navbar-dark bg-dark navbar-expand justify-content-center">

          <div class="container-fluid  ">

     
              <div class='row col-md-12 text-justify-center '>


            <figure class="figure img-fluid">
                <div class="media-body">

              <a class="nav-link text-center" href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>

              <img src="/static/galerie/deliveroo_circle.png"  width="200" height="150" class="img-fluid" >
              </a>

                </div>

                </figure>
            
                <figure class="figure img-fluid">

                  <div class="media-body">
                <a class="nav-link text-center" href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>

                  <img src="/static/galerie/uber_logo.png" class="img-fluid rounded mx-auto d-bloc"   width="200" height="150">
                </a>
                  </div>

                </figure>


                <figure class="figure img-fluid">

                  <div class="media-body">
                <a class="nav-link text-center" href='https://deliveroo.fr/fr/menu/aix-en-provence/avenue-de-leurope/market-avenue-perouse?utm_medium=affiliate&utm_source=google_maps_link'>

                  <img src="/static/galerie/just_eat.png"  width="200" height="150" class="img-fluid rounded mx-auto d-bloc" >
                </a>
                  </div>

                </figure>

                <figure class="figure img-fluid">
                  <div class="media-body">
              
                  <img class="img-fluid">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11571.507070524869!2d5.436630997530927!3d43.525762448574234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b04ee7b20038053!2sMARKET%20Express%207%2F7!5e0!3m2!1sfr!2snl!4v1590961653135!5m2!1sfr!2snl" 
                  style="border:0;" width="200" height="190" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </img> 
                </div>
              
                  </figure>
              
          
              </div>
            </div>
      
      
      </nav>
        
    
  
      <nav class="navbar bottom navbar-dark bg-dark navbar-expand-lg -sm">
        <div class="container-fluid justify-content-around" >
          <div class="row justify-content-around" >
            <ul class=" nav navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center" >
              <li class="nav-item"><a class="nav-link" href='#'>Annonceurs - Publicité</a></li>
              <li class="nav-item"><a class="nav-link"  href='#'>Partenariats</a></li>
              <li class="nav-item"><a class="nav-link"  href='#'>Presse</a></li>
              <li class="nav-item"><a class="nav-link"  href='#'>Nous contacter</a></li>
              <li class="nav-item"><a class="nav-link"  href='#'>Mentions légales</a></li>
              <li class="nav-item"><a class="nav-link"  href='#'>Charte de confidentialité</a></li>
              <li class="nav-item"><a class="nav-link" href='#'>Préférences cookies</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0 justify-content-center" action="" method="POST">
              <!-- FORMULAIRE INSCRIPTION NEWSLETTEUR POUR LE VISITEUR -->
              <input class="form-control mr-sm-2" type="email" name="email" required placeholder="VOTRE EMAIL" maxlength="100">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Newsletter</button>
                <!-- PARTIE TECHNIQUE -->
              <input type="hidden" name="identifiantFormulaire" value="newsletter-inscription">
              <div class="feedback">
               
              </div>
            </form>
          </div>
        </div>          
      </nav>
      </div>

    </footer>

  </body>

       
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>