{% include 'base.html' %}

{% block head %}

<html>
<title>Home</title>
{% endblock %}


<body>
      <div>
    <div class="jumbotron">

        <article class="text-center">
                <h1>Bienvenue</h1>
                <p>Notre alimentation à proximité du Partouche Pasino, de la Bibliothèque Méjannes ainsi que Renaissance, et ouverte pour vous servir de 9 heures à 1heures,  7 jours sur 7</p>
    
                <div class="text-center">
                    <img src="/static/galerie/alimentation.png" class="img-fluid" alt="" width ="750"height="600px">
    
                  </div>
                
                <p class="text-center"> <a class="btn btn-primary text-center" role="button" href="/categories">   Voir nos catégories</a>
             <a class="btn btn-primary text-center" role="button" href="/promotions">  Nos promotions</a>

              <a class="btn btn-primary text-center" role="button" href="/articles">  Tout nos articles </a>

            </p>
              



        </article>
        </div>

    </div>


</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</html>




{% extends 'footer.html' %}